<h1>Here is your roster. Please review</h1> <!-- #this is embedded ruby -->
<table border="2" cellpadding="2"
cellspacing="2" width="75%">
	<tr> <!-- create a table row tag -->
		<th>ID</th> <!-- table header tag -->
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
	</tr>
	<% student_info.each do |student| %>
	<tr>
		<td><%=student['id']%></td> <!-- table data which means fields -->
		<td><%=student['firstname']%></td>
		<td><%=student['lastname']%></td>
		<td><%=student['email']%></td>
	</tr>
	<%end%> <!-- we have to use this format bc it is embedded ruby. closing the do loop above -->
</table>


