<!--#homepage-->
<h1> classroom info </h1>
<br><p>Please enter the student information you want added to the database.</p><br>
<form method="post" action="student_info">
	<input type="text" name="first_name" placeholder="first_name"> <!-- #placeholder is what the user sees on screen -->
	<input type="text" name="last_name" placeholder="last_name">
	<input type="text" name="email" placeholder="email">
	<button type="submit">submit</button>
</form>